@use "../abstracts" as *;
.loading{
    @include Position($type: absolute, $t: 0, $l: 0);
    @include size(100%,100%);
    @include flexCenter();
    backdrop-filter: blur(5px) saturate(100%);
    background: rgba(0, 0, 0, 0.819);
    z-index: 101010;
    .box{
        @include flexCenter(column);
        .text{
            @include flexCenter();
            gap: 20px;
            .bars{
                width: 50.4px;
                height: 44.8px;
                background: linear-gradient(#0000 calc(1*100%/6), #ffffff 0 calc(3*100%/6), #0000 0) left bottom,
                    linear-gradient(#0000 calc(2*100%/6), #ffffff 0 calc(4*100%/6), #0000 0) center bottom,
                    linear-gradient(#0000 calc(3*100%/6), #ffffff 0 calc(5*100%/6), #0000 0) right bottom;
                background-size: 10.1px 600%;
                background-repeat: no-repeat;
                animation: bars-j7enxv 1s infinite linear;
            }
            .bars1{
                transform: rotateY(180deg);
            }
            h2{
                @include responsive(350){
                    font-size: 50px!important;
                }
                @include responsive(450) {
                    font-size: 55px !important;
                }
                @include responsive(650){
                    font-size:80px!important;
                }
                font-size: 80px;
                color: white;
            }
        }
        .text2{
            @include flexCenter(row-reverse);
            gap: 20px;
            color: white;
            h2{
                margin-bottom: 0;
            }
            .progress {
                background: transparent;
                border: 2px solid white;
                transform: rotateY(180deg)!important;
                width: 120px;
                height: 20px;
                border-radius: 22.4px;
                color: transparent;
                position: relative;
            }
            .progress::before {
            content: "";
            position: absolute;
            margin: 2.2px;
            inset: 0 100% 0 0;
            border-radius: inherit;
            background: rgb(255, 255, 255);
            animation: progress-pf82op 2.4s infinite alternate;
            }
        }
    }
}